<%= form_for(@classroom) do |f| %>
  <% if @classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% @classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Data %><br>
    <%= f.datetime_select :entry_at%>
  </div>
  <div class="field">
    <%= f.label :Nome %><br>
    <%= f.text_field :student_name, data: {autocomplete_source: search_students_url}, class: "form-control", :placeholder => "Comece a digitar para auto completar o nome" %>
  </div>
  <div class="field">
    <%= f.label :Curso %><br>
    <%= f.collection_select :course_id, Course.order(:name), :id, :name, {prompt: "Selecione um curso"}, {class: "form-control"} %>
  </div>
  <div class="actions">
    <%= f.submit 'Matricular', :class => 'btn btn-default' %>
  </div>
<% end %>
