<p id="notice"><%= notice %></p>

<!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
         <h1>Alunos Matriculados em cursos</h1><br>
          <% @classrooms.each do |classroom| %>
          <div class="post-preview">
            <article class="row">
              <section class="col-md-8">
                  <h2 class="post-title">
                    <small>  Estudante </small> &nbsp; <span class="glyphicon glyphicon-education" aria-hidden="true"></span> &nbsp; <i> <%= classroom.student.name %> </i>
                  </h2>
                  <h3 class="post-subtitle">
                    <small>  Curso</small> &nbsp; <span class="glyphicon glyphicon-book" aria-hidden="true"></span> &nbsp; <i> <%= classroom.course.name %></i>
                  </h3>

                <p class="post-meta"><small>  Matriculado em</small> &nbsp; <span class="glyphicon glyphicon-time" aria-hidden="true"></span> &nbsp; <i> <%= classroom.entry_at %></i> </p>
              </section>
              <section class="col-md-4">
                <div class="btn-group-vertical" role="group" aria-label="...">
                 <%= link_to 'Edit', edit_classroom_path(classroom) , class: "btn btn-default" %>
                  <%= link_to 'Destroy', classroom, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                </div>
              </section>
            </article>
          </div> 
          <hr>
          <% end %>
          </div>
        </div>
    </div>

    <hr>
