<p id="notice"><%= notice %></p>

 <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
          <h1>Alunos</h1>
          <% @students.each do |student| %>
          <div class="post-preview">
            <article class="row">
              <section class="col-md-8">
                  <h2 class="post-title">
                    <small>  Aluno </small> &nbsp; <span class="glyphicon glyphicon-education" aria-hidden="true"></span> &nbsp; <i> <%= student.name %> </i>
                  </h2>
                  <h3 class="post-subtitle">
                    <small>  Numero de registro </small> &nbsp; <span class="glyphicon glyphicon-book" aria-hidden="true"></span> &nbsp; <i> <%= student.register_number %></i>
                  </h3>

                <p class="post-meta"><small> Status</small> &nbsp; <span class="glyphicon glyphicon-time" aria-hidden="true"></span> &nbsp; <i> <%= student.status %></i> </p>
              </section>
              <section class="col-md-4">
                <div class="btn-group-vertical" role="group" aria-label="...">
                 <%= link_to 'Edit', edit_student_path(student) , class: "btn btn-default" %>
                  <%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %>
                </div>
              </section>
            </article>
          </div> 
          <hr>
          <% end %>
          </div>
        </div>
  </div>