<%= form_for(@course) do |f| %>
  <% if @course.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@course.errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @course.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :nome %><br>
    <%= f.text_field :name, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :Descrição %><br>
    <%= f.text_field :description, class: "form-control"%>
  </div>
  <div class="field">
    <%= f.label :status %><br>
    <%= f.number_field(:status, in: 0..1, class: "form-control") %>
  </div>
  <div class="actions">
    <%= f.submit 'Criar', :class => 'btn btn-default' %>
  </div>
<% end %>
